.vs/
.idea/
bin/
obj/
TestResults/
dist/
*.user
*.suo
*.nupkg
*.snupkg
*.dwg
*.dxf
*.bak
*.sv$
*.xlsx
*.xls
*.pfx
*.p12
*.pvk
*.snk
*.key
*.pem
BrxMgd.dll
TD_Mgd.dll
TD_MgdBrep.dll
BLT/
BLT3D/
samples/private/
